.About{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.About .img-bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
}

.About_header .Img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
}

.About_header .Img img{
  height: 391px;
  width: 294px;
  z-index: 20;
}

.About_header{
  position:relative;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  height: 450px;
  background-color: #fff;
}

.About_header .Introduce{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 150px 0 100px;
  z-index: 20;
}

.About_header .Introduce span{
  font-size: 10.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: orangered;
  
}

.About_header .Introduce p{
  text-align: center;
  font-size: 1.5rem;
  font-weight:400;
  color: rgb(37, 36, 36);
}

.About_content{
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 40px 100px 40px 100px;
  flex-wrap: wrap;
}

.About_content .member{
  height: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #283747;
  margin: 30px;
}


.About_content .member .number{
  color: #A93226;
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
  
}

.About_content .member .Circle{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin: 10px 0 10px 0;
}

.About_content .member .name{
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.About_content .member .name:after{
  content: " ";
  display: block; 
  width: 50%;
  height: 3px;
  margin: 10px auto;
  border: 0;
  background: white;
}

.About_content .member .member_info{
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 1.7rem;
  width: 200px;
}

@media (max-width: 1383px) {

  .About_header .Introduce{
    padding: 0 70px 0 70px;
  }

  .About_header .Img{
    padding-left: 200px;
  }
}

@media (max-width: 1200px) {

  .About_header .Img{
    padding-left: 100px;
  }

  .About_header .Introduce{
    padding: 0 50px 0 50px;
  }

  .About_header .Introduce span{
    font-size: 8.5rem;
  }
}

@media (max-width:991px) {
  .About_header {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .About_header .Img{
    padding: 40px 0 0 0;
  }

  .About_header .Introduce{
    padding: 50px 150px 50px 150px;
  }
}

@media (max-width:786px) {
  .About_header .Introduce span{
    font-size: 7rem;
  }

  .About_header .Introduce{
    padding: 50px 50px 50px 50px;
  }
}




