
.news-card {
  margin: 0px 20px 20px 20px;
  max-width: 375px;
  width:100%;
  height: 400px;
  position: relative;
  // font-family: 'Droid Serif', serif;
  color:#fff;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition:all 0.4s;
  background: url(https://unsplash.it/600/800?image=1061) center no-repeat;
  background-size: 100%;
  font-size: 1.2rem;
}
.news-card a{ 
  color:#fff;
  text-decoration:none;
  transition:all 0.2s
}
.news-card .color-overlay {
  background: rgba(64, 84, 94,0.5);
  width: 375px;
  height: 400px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.news-card .gradient-overlay {  
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
  max-width: 375px;
  height: 400px;
  position: absolute;
  top: 225px;
  left: 0;
  z-index: 15;
}
.news-card:hover{
    box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
}
.news-card:hover .card-content {
  opacity: 1;
  bottom: 70px;
}
.news-card:hover .color-overlay {
  background: rgba(64, 64, 70,0.8);
}
.news-card:hover .title-content{
  margin-top:70px
}
.news-card .title-content {
  text-align: center;
  margin: 170px 0 0 0;
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
  transition:all 0.6s
}

.news-card:hover h1:after{
 
  animation: changeLetter 0.3s 1 linear;
  width:80%
}

.news-card h3,h1 {
  font-size: 1.9em;
  font-weight: 400;
  letter-spacing: 1px;
  
  margin-bottom: 0;
  display:inline-block;
}
.news-card h1 a{  
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  transition:all 0.2s
}
.news-card h1 a:hover{
  text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
}
.news-card h1:after {
  content: " ";
  display: block; 
  width: 10%;
  height: 2px;
  margin: 10px auto;
  border: 0;
  background: #BDA26B;
  transition:all 0.2s
}

@keyframes changeLetter {
  0% {
    width: 10%;
  }
  100% {
    width: 80%;
  }
}

.news-card .title-content .author {
  width: 170px;
  margin: 0 auto;
  color: #ddd;
  font-style: italic;
  line-height: 18px;
}

.news-card .card-content {
   box-sizing: border-box;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0;
  margin: 0 auto;
  padding: 0 50px;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.news-card .card-content a{
  display:block;
  width:130px;
  margin:15px auto;
  background:#fff;
  color:#444;
  padding:3px 10px;
  border-radius:2px;
  font-size:0.8em
}
.news-card .card-content a:hover{
  background: #8e7c49;
  color:#fff;
}

.news-card .card-date {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 375px;
  color: white;
  z-index: 20;
}





