.search-form {
    width: 60%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.search__input{
    width: 100%;
    height: 50px;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    font-style: italic;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.048);
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    // width: 200px;
}

.search-form .btn {
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--black);
    padding: 1rem;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    justify-content: center;
    color: #fff;
    display: flex;
    align-items: center;

}
.search__input:focus{
    border: 1px solid var(--black);
}


.search-form .btn:hover {
    background-color: #373547;

}

.search-form .btn p {
    margin: 0 10px;
    display: flex;
}

// media responsive


@media (max-width:450px) {
    
    
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */


