.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 100px 0;
}

.list-title {
    font-size: 4rem;
    font-weight: 900;
    margin: 5rem 0;
}

.list-title span {
    font-size: 4.4rem;
    color: var(--orange);
}

.list {
    display: flex;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

}

@media (max-width: 1004px) {
    .card-container {
        grid-gap: 0rem;
    }
}

@media (max-width: 902px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }
}

@media (max-width: 647px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0rem;
    }
}
@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 300px) {
    .box-card {
        width:100%;
    }
}