// Home page
#container-home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 99px;
}

.list-products {
    background-color: #fff;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-products h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 20px auto;

}

.list-products h1 span {
    font-size: 4.4rem;
    color: var(--orange);
}

.products-sell {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outstanding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10rem 10rem;
    // height: 100vh;
    width: 100%; 
}

.outstanding div {
    width: 360px;
}

.outstanding .featured-category img {
    border-radius: 1.2rem;
}

.outstanding div img {
    height: 480px;
    object-fit: cover;
}

.outstanding .introcduce-book {
    height: 480px;
    width: 30%;
    
}



.outstanding .introcduce-book h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #a7a7a7;
    margin-bottom: 30px;
}

.outstanding .introcduce-book h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

.outstanding .introcduce-book h4 {
    font-size: 1.8rem;
    font-family: "PT Serif", serif;
    font-style: italic;
    color: #757575;
    margin-bottom: 30px;
}

.outstanding .introcduce-book p {
    font-size: 1.7rem;
    font-weight: normal;
    line-height: 1.786em;
}

.outstanding .featured-book {
    height: 480px;
}

.outstanding .featured-category {
    height: 480px;
    position: relative;


}

.outstanding .featured-category h3 {
    font-size: 1.5rem;
    // width: 70%;
    margin-left: 20px;
    background-color: #27c8ea;
    color: #fff;
    // display: inline;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 110px;
    font-weight: 400;
}

.outstanding .featured-category p {
    font-size: 1.8rem;
    width: 80%;
    margin-left: 20px;
    position: absolute;
    bottom: 36px;
    color: #fff;
    line-height: 1.35;
}

.outstanding .introcduce-book a {
    padding: 0.8rem 3rem;
    background-color: #373547;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 1rem;
    cursor: pointer;
}

.outstanding .introcduce-book a:hover {
    background-color: #4d4c52;
}

.sticker-mark {
    // width: 50%;
    // margin-left: 25%;
    // margin-right: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5rem;
}

.sticker-mark .SafeTransaction path:nth-child(1),
.sticker-mark .SafeTransaction path:nth-child(3) {
    fill: rgb(37, 212, 138);
}

.sticker-mark .authorWrite path:nth-child(2) {
    fill: #c49406;
}

.sticker-mark .tonsofbook path:nth-child(1),
.sticker-mark .tonsofbook path:nth-child(3) {
    fill: rgb(59, 108, 183);
}

.authorWrite {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.SafeTransaction {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.tonsofbook {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.sticker-mark .card {
    width: 364px;
    height: 358px;
    margin-left: 25%;

    margin-right: 25%;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-out;
    text-decoration: none;
    margin: 0 2rem;
    padding: 2rem 3rem 0 3rem;
}

.sticker-mark .card h3 {
    font-size: 2rem;
    margin: 2rem 0;
    z-index: 1000;
}

.sticker-mark .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.sticker-mark .card:hover .overlay {
    transform: scale(6) translateZ(0);
}

.sticker-mark .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.sticker-mark .card:hover .circle:after {
    background: var(--bg-color-light);
}

.sticker-mark .card:hover p {
    color: var(--text-color-hover);
}

.sticker-mark .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.sticker-mark .card p {
    display: block;
    justify-items: center;
    font-size: 17px;
    color: #4C5656;
    z-index: 1000;
    transition: color 0.3s ease-out;
    line-height: 1.5;
}

.sticker-mark .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.sticker-mark .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: opacity 0.3s ease-out;
}

.sticker-mark .circle span {
    z-index: 10000;
    transform: translateZ(0);
}

.sticker-mark .overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 26px;
    left: 122px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.review .title-review {
    font-size: 4rem;
    font-weight: 900;
    margin: 5rem 0;
}

.review .title-review span {
    font-size: 4.4rem;
    color: var(--orange);
}

#container-home .Blog-container {
    float: left;
    padding: 25px;
    background-color: white;
    text-align: center;
    font-size:22px;
}

.Blog-container .card {
    Float: left;
    width: 23%;
    background-color: rgb(235, 247, 252);
    margin-left:2%;
    margin-bottom: 40px;
}
.Blog-container .h1 {
    margin: auto;
}
.Blog-container .card:hover {
    
    box-shadow: 5px 5px 5px #b5b5b5;
    background-color: white;
  
}
.card .img1 {
    width: 100%;
    height: 30%;
}

.img1 img {
    width: 100%;
    border-radius: 5px 5px;
}

.card .content_blog {
    text-align:left;
    padding: 40px;
    height: 70%;
}

.content_blog h2{
    margin-bottom:25px;
    font-size: 18px;
}

.content_blog p{
    color: gray;
    font-size: 12px;
    margin-bottom:25px;
    display:inline-block;
}
.content_blog .p1{
    color: gray;
    font-size: 13px;
    margin-bottom:25px;
    display:inline-block;
    line-height: 1.6;
}
.content_blog button{
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding:0px;
}

#container-home .FAQs {
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 30px;
}
.FAQs .title-faq{
    font-size: 4rem;
    font-weight: 900;
    margin: 4rem 0;
}

.FAQs .tag111 {
    width: 50%;
    padding: 10px;
    float: left;
}
.FAQs .tag111 div {
    margin: 0;
}
@media only screen and (max-width: 1413px) {
    .outstanding {
        display: flex;
        flex-wrap: wrap;
    }
    .outstanding .introcduce-book{
        width: 100%;
        margin: 0;
        height: 400px;
    } 
}

@media only screen and (max-width: 1280px) {
    .sticker-mark {
        display: block;
    }
    .sticker-mark .card {
        margin: 20px auto;
    }
}
@media only screen and (max-width: 992px) {
    #container-home .FAQs {
        height: 100%; 
    }
    .FAQs .tag111 {
        width: 100%;
        padding: 0px;
        margin: 0;
    }
    .Blog-container .card {
        width: 43%;
        margin-left:5%;
    }
    .outstanding .introcduce-book{
        width: 100%;
        margin: 0;
        height: 350px;
    } 
}
@media only screen and (max-width: 892px) {
    
    .outstanding div img{
        height: 350px;
    }
    .outstanding .featured-book {
        height: 350px;
        width: 300px;
    }
    .outstanding .featured-category {
        width: 300px;
        height: 350px;
    }
    #container-home{
        margin-top: 86px;
    }
    
}
@media only screen and (max-width: 754px) {
    .Blog-container .card {
        width: 48%;
        margin-left:1%;
    }
    .outstanding div{
        margin: 20px 0;
    }
    .outstanding div img{
        height: 300px;
    }
    .outstanding .featured-book {
        height: 300px;
        width: 250px;
    }
    .outstanding .featured-category {
        width: 250px;
        height: 300px;
    }

    
}
@media only screen and (max-width: 600px) {
    .Blog-container .card {
        width: 84%;
        margin-left:8%;
        margin-right:8%;
    }
    #container-home .Blog-container {
       padding :5px;
    }
    .outstanding .introcduce-book{
        height: 450px;
    }
    .tag111{font-size: 2px;}
}
@media only screen and (max-width: 450px) {
    #container-home{
        margin-top: 67px;
    }
    .outstanding .introcduce-book{
        height: 500px;
    }
    .sticker-mark {
        padding: 5%;
    }
    .sticker-mark .card {
        width: 290px;
        height: 340px;
        margin-left: 5%;
    
        margin-right: 20%;
        padding: 0rem 0rem 0 0rem;
    }
    .sticker-mark .circle {
        width: 107px;
        height: 107px;
    }
    .sticker-mark .circle:after {
        content: "";
        width: 100px;
        height: 100px;
        top: 2px;
        left: 2px;
    }
    .sticker-mark .overlay {
        width: 100px;
        height: 100px;
        top: 45px;
        left: 95px;
        z-index: 0;
    }
    .sticker-mark .card h3 {
        font-size: 1.8rem;
        margin: 2rem 0;
        z-index: 1000;
    }
    .sticker-mark .card p {
        
        font-size: 14px;
        color: #4C5656;
        z-index: 1000;
        
        line-height: 1.5;
    }
    #container-home .FAQs {
        height: 500px;    
    }
    .FAQs .tag111 div p {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 410px) {
    
    .outstanding .introcduce-book{
        height: 600px;
    }
    .FAQs .tag111 div p {
        font-size: 1.3rem;
    }
}

