.categorys{
    margin-right: 50px;
    background-color: #fff;
    padding: 40px;
}
.categorys h2{
    font-size: 2.3rem;
    font-weight: 550;
}
.categorys .list-categorys{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 30px;
}
.categorys .list-categorys .category{
    text-align: center;
    display: inline-block;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem;
}
.categorys .list-categorys .category:hover{
    background-color: #f4f4f4;
    border-radius: 1rem;
}