.Profile_container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.frame_container{
  padding: 50px;
}


.Information_frame{
  box-shadow: 5px 10px 8px #888888;
  position: relative;
  width: 450px;
  height: 350px;  
  display: grid;
  grid-template-rows: 2fr 2.5fr 1fr 1fr;
  font-size: 2rem;

  .img img{
    width: 100%;
  }

  .avatar{
    position: absolute;
    top: 35px;
    left: 50px;
    z-index: 10;

    .avatar_img{
      width: 120px;
      height: 120px;
    }
  }

  .infor{
    background-color: white;
    position: relative;
    .infor_content{
      position: absolute;
      top: 30px;
      right: 100px;
    }

    .infor_content span{
      font-weight: bold;
    }
  }

  .tab[aria-selected="true"]{
    background-color: rgb(255, 179, 66);
  }

  .tab[aria-selected="false"]{
    background-color: white;
  }

  .Profile_setting{
    box-shadow: 0 -2px 2px -2px #333;
    z-index: 10;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .Order_list{
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}


.tab_panel{
  width: 100%;
  height: 100%;

  .Update_form{
    width: 100%;
    font-size: 1.5rem;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 50px;
    row-gap: 40px;
    column-gap: 40px;
  }
  

  .Update_form .lable_text{
    display: flex;
    flex-direction: column;
  }

  .Update_form .lable_text input{
    border: 1px solid black;
    border-radius: 2px;
    background-color: #fef6e7 ;
    height: 50px;
    margin-top: 10px;
    padding: 0 15px 0 15px;
  }

  .Update_form .lable_text input:focus{
    
    background-color: white;
  }
  
  
  .Update_form .update_button{
    font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      color: #000;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
      border: 1px solid;
      grid-column: 1/3;
  }
  
  .update_button:hover{
    background-color: var(--orange);
    color: #fff;
  }

  .order_list_content{
    font-size: 2rem;
    padding: 50px;
    display: none;
    width: 100%;

    .table{
      width: 100%;
      thead {
        border-bottom: 1px solid black;
        text-align: left;
      }

      td {
        font-size: 2rem;
        margin: 10px;
      }

      tr {
        height: 50px;
      }

      .paid{
        background-color: #EAFAF1   ;
      }

      .not_paid{
        background-color: #FDEDEC ;
      }

      .link{
        margin-left: 10px ;
        font-weight: bold;
      }
    }
  }

}

@media (max-width: 1200px) {
  .frame_container{
    width: 400px; 
    height: 400px;
    padding: 30px;
  }
  .Information_frame{
    width: 350px;
    height: 300px;
  }

  .tab_panel {
    .Update_form{
      padding: 30px;
    }

    .order_list_content{
      padding: 30px;
    }
  }

  .Information_frame {
    .avatar{
      top: 25px;
      left: 50px;

      .avatar_img{
        width: 100px;
        height: 100px;
      }
    }

    .infor .infor_content{
      top: 20px;
      right: 50px;
    }
  }

  
}

@media (max-width:991px) {
  .Profile_container{
    display: flex;
    flex-direction: column;
  }

  .frame_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .Information_frame{
      width: 450px;
      height: 350px;  
      .avatar{
        top: 35px;
        left: 50px;
    
        .avatar_img{
          width: 120px;
          height: 120px;
        }
      }
    }
  }


}

@media (max-width:700px) {
  .tab_panel .Update_form{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr) 50px;

    .update_button{
      grid-column: unset;
    }
  }
}



