@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --orange: #ff7809;
    --black: #1f1a4b;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body #root {
    background-color: #eee;
}

.content {
    display: flex;
    flex-direction: column;
}

// media responsive

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:786px) {
}

@media (max-width:450px) {
    
}