// Home page
.container-news{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
}
.news{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.sidebar-news{
    width: 28%;
}
