.change-password{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 4rem;
        margin-top: 80px;
    }
    
}
.container-change{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 50px 0 100px 60px;
    .require{
        font-size: 1.6rem;
        margin-left: 50px;
        margin-top: 5px;
    }

}
.setpassword{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        font-size: 2.4rem;
        width: 250px;
        
    }
    margin-bottom: 30px;
}
.form-change{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    button{
        margin-left: 250px;
        font-size: 1.5rem; 
    }
    .error{
        color: red;
        margin-top: 10px;
    }
   
}